body {


}

.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 15px 25px;
  border: 5px solid #2092bc;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  font: normal normal bold 18px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  word-spacing: 16px;
  background: #0254d8;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.enjoy-css:hover {
  background: #6b52f9;
}

.enjoy-css:active {
  background: #d602d6;
}
